* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.header {
  background-color: #3ba66b;
  padding: 20px 0;
  position: relative; }
  .header .box-navbar-left .navbar_top ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0; }
    .header .box-navbar-left .navbar_top ul li:hover a {
      color: #ffb416; }
    .header .box-navbar-left .navbar_top ul a {
      color: #fff;
      text-decoration: none; }
  .header .box-navbar-left .form-search-left {
    display: none; }
    .header .box-navbar-left .form-search-left .search {
      position: relative;
      width: min-content; }
      .header .box-navbar-left .form-search-left .search input {
        padding: 10px 15px;
        border-radius: 50px;
        width: 200px;
        outline: none;
        border: none;
        background-color: #f3f3f3; }
      .header .box-navbar-left .form-search-left .search input:focus {
        background-color: #fff; }
      .header .box-navbar-left .form-search-left .search button {
        outline: none;
        border: none;
        position: absolute;
        right: 0;
        font-size: 24px;
        border-radius: 50%;
        background-color: #ffb416;
        cursor: pointer;
        padding: 4px 10px;
        transition: 0.3s; }
        .header .box-navbar-left .form-search-left .search button i {
          color: #fff; }
      .header .box-navbar-left .form-search-left .search button:hover {
        background-color: #177e45; }
  .header .logo img {
    display: block;
    margin: auto; }
  .header .header-rights {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .header-rights .search {
      position: relative; }
      .header .header-rights .search input {
        padding: 10px 15px;
        border-radius: 50px;
        width: 200px;
        outline: none;
        border: none;
        background-color: #f3f3f3; }
      .header .header-rights .search input:focus {
        background-color: #fff; }
      .header .header-rights .search button {
        outline: none;
        border: none;
        position: absolute;
        right: 0;
        font-size: 24px;
        border-radius: 50%;
        background-color: #ffb416;
        cursor: pointer;
        padding: 4px 10px;
        transition: 0.3s; }
        .header .header-rights .search button i {
          color: #fff; }
      .header .header-rights .search button:hover {
        background-color: #177e45; }
    .header .header-rights .favorite-cart-account {
      display: flex;
      margin-left: 20px;
      align-items: center;
      min-width: 182px; }
      .header .header-rights .favorite-cart-account .favorite {
        margin-left: 15px; }
        .header .header-rights .favorite-cart-account .favorite a {
          text-decoration: none;
          color: #fff; }
          .header .header-rights .favorite-cart-account .favorite a i {
            font-size: 30px; }
      .header .header-rights .favorite-cart-account .cart {
        margin-left: 15px;
        cursor: pointer; }
        .header .header-rights .favorite-cart-account .cart i {
          font-size: 35px;
          color: #fff; }
      .header .header-rights .favorite-cart-account .account {
        margin-left: 15px;
        position: relative; }
        .header .header-rights .favorite-cart-account .account a {
          color: #fff; }
          .header .header-rights .favorite-cart-account .account a i {
            font-size: 30px; }
        .header .header-rights .favorite-cart-account .account .drop-account {
          position: absolute;
          width: 120px;
          background-color: #fff;
          z-index: 10;
          right: 0;
          top: 37px;
          padding: 0 10px;
          border-radius: 10px;
          box-shadow: 0px 0px 4px 0px #444;
          display: none;
          animation: hidden;
          animation-duration: 0.5s;
          animation-direction: alternate-reverse; }
          .header .header-rights .favorite-cart-account .account .drop-account ul {
            list-style-type: none; }
          .header .header-rights .favorite-cart-account .account .drop-account li {
            padding: 5px 0; }
          .header .header-rights .favorite-cart-account .account .drop-account li:hover a {
            color: #3ba66b;
            text-decoration: none; }
          .header .header-rights .favorite-cart-account .account .drop-account li + li {
            border-top: 1px solid #cecece; }
          .header .header-rights .favorite-cart-account .account .drop-account a {
            color: #444; }
        .header .header-rights .favorite-cart-account .account .drop-account::after {
          content: "";
          position: absolute;
          right: 0px;
          top: -7px;
          border-width: 0 13.5px 14px 28.5px;
          border-style: solid;
          border-color: transparent transparent #fff;
          z-index: 12; }
      .header .header-rights .favorite-cart-account .account:hover .drop-account {
        display: block; }
      .header .header-rights .favorite-cart-account sup {
        top: -1.5rem;
        color: #fff;
        width: 10px;
        height: 10px;
        display: inline-block;
        width: 17px;
        height: 17px;
        background: #ffb416;
        text-align: center;
        line-height: 17px;
        border-radius: 17px;
        font-size: 10px; }
  .header .bnt__navmobile {
    display: none; }
    .header .bnt__navmobile i {
      font-size: 35px;
      color: #fff;
      cursor: pointer; }

.navbars_overlay {
  z-index: 15;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(46, 45, 45, 0.616);
  display: none; }

.navbar_top-mobile {
  position: fixed;
  background-color: #fff;
  z-index: 16;
  top: 0;
  width: 300px;
  bottom: 0;
  max-width: 100%;
  left: 0;
  padding: 20px;
  transform: translateX(-100%);
  transition: 0.5s;
  opacity: 0; }
  .navbar_top-mobile .bnt-close-navbar {
    position: absolute;
    top: 10;
    cursor: pointer;
    right: 0; }
    .navbar_top-mobile .bnt-close-navbar i {
      display: block;
      padding: 20px;
      font-size: 25px;
      transition: 0.5s; }
  .navbar_top-mobile .bnt-close-navbar:hover i {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    color: green; }
  .navbar_top-mobile .navbar_top-mobile-account {
    padding-bottom: 10px;
    border-bottom: 1px solid #b4b4b4; }
    .navbar_top-mobile .navbar_top-mobile-account a {
      text-decoration: none; }
    .navbar_top-mobile .navbar_top-mobile-account img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover; }
    .navbar_top-mobile .navbar_top-mobile-account span {
      font-weight: 600;
      font-size: 19px; }
  .navbar_top-mobile .navbar_top-search .inp-search-navbar-mobile {
    width: min-content;
    position: relative;
    margin: 20px auto !important;
    border-bottom: 1px dashed #bdbdbd; }
  .navbar_top-mobile .navbar_top-search input {
    padding: 10.5px 15px;
    border-radius: 50px;
    width: 200px;
    outline: none;
    border: 1px solid #bdbdbd;
    background-color: #f3f3f3;
    margin-bottom: 20px; }
  .navbar_top-mobile .navbar_top-search input:focus {
    background-color: #fff; }
  .navbar_top-mobile .navbar_top-search button {
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    font-size: 24px;
    border-radius: 50%;
    background-color: #ffb416;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s; }
    .navbar_top-mobile .navbar_top-search button i {
      color: #fff; }
  .navbar_top-mobile .navbar_top-search button:hover {
    background-color: #177e45; }
  .navbar_top-mobile ul {
    list-style-type: none; }
    .navbar_top-mobile ul li {
      padding: 15px 5px; }
    .navbar_top-mobile ul li + li {
      border-top: 1px solid #bdbdbd; }
    .navbar_top-mobile ul a {
      color: #3ba66b;
      font-weight: 600; }
    .navbar_top-mobile ul li:hover {
      background-color: #3ba66b; }
    .navbar_top-mobile ul li:hover a {
      color: #fff;
      text-decoration: none; }
  .navbar_top-mobile .socialNetwork {
    display: flex;
    justify-content: space-evenly; }
    .navbar_top-mobile .socialNetwork a {
      text-decoration: none; }

.navbar_top-mobile.active {
  opacity: 1;
  transform: translateX(0); }

.header::after {
  background: url("../image/bg-after-header.png") no-repeat top center;
  content: "";
  position: absolute;
  width: 100%;
  height: 47px;
  bottom: -47px;
  z-index: 9; }

footer {
  background-color: #3ba66b;
  position: relative;
  color: #fff;
  text-align: center; }
  footer .box-footer {
    padding: 20px; }
    footer .box-footer .mailchimp-footer {
      margin-top: 82px; }
      footer .box-footer .mailchimp-footer h3 {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 600; }
      footer .box-footer .mailchimp-footer .sent-mail {
        display: flex;
        justify-content: center; }
        footer .box-footer .mailchimp-footer .sent-mail form {
          position: relative;
          width: min-content; }
          footer .box-footer .mailchimp-footer .sent-mail form input {
            width: 300px;
            height: 35px;
            padding-left: 15px;
            padding-right: 80px;
            border: none;
            outline: none;
            border-radius: 20px; }
          footer .box-footer .mailchimp-footer .sent-mail form button {
            cursor: pointer;
            border: none;
            outline: none;
            background-color: #ffb416;
            border-radius: 0 20px 20px 0;
            height: 35px;
            position: absolute;
            right: 0;
            padding: 0 10px;
            color: #fff; }
    footer .box-footer .contact-footer {
      margin-top: 82px; }
      footer .box-footer .contact-footer h3 {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 600; }
    footer .box-footer .about-footer {
      position: relative;
      height: 400px; }
      footer .box-footer .about-footer .logo-footer {
        margin-bottom: 30px; }
      footer .box-footer .about-footer img {
        display: block;
        margin: auto; }
      footer .box-footer .about-footer .decor-oranger {
        position: absolute;
        bottom: -50px;
        left: 20%; }
  footer .copyright {
    background-color: rgba(153, 153, 153, 0.329); }
    footer .copyright .container {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    footer .copyright p {
      margin: 0; }
    footer .copyright .socialNetwork {
      display: flex;
      width: 100px;
      justify-content: space-around; }
      footer .copyright .socialNetwork a {
        color: #fff;
        text-decoration: none; }

footer::before {
  background: url("../image/bg-before-footer.png") no-repeat top center;
  content: "";
  position: absolute;
  width: 100%;
  height: 47px;
  top: -47px;
  z-index: 9;
  left: 0; }

.banner picture img {
  width: 100%;
  object-fit: cover; }

@keyframes hidden {
  to {
    opacity: 0; }
  from {
    opacity: 1; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important; } }

@media (max-width: 1200px) {
  .navbar_top {
    display: none; }
  .bnt__navmobile {
    display: block !important; }
  .box-navbar-left {
    display: flex;
    align-items: center; }
  .box-navbar-left .form-search-left {
    display: block !important;
    margin-left: 20px; }
  .header-rights form {
    display: none; } }

@media (max-width: 992px) {
  .box-navbar-left .form-search-left {
    display: none !important;
    margin-left: 20px; }
  .box-footer .decor-oranger {
    display: none !important; } }

@media (max-width: 765px) {
  .header-rights {
    padding: 15px 0; }
  .box-footer .about-footer {
    height: auto !important; }
  .box-footer .mailchimp-footer {
    margin-top: 0 !important;
    margin: 0 0 35px 0; } }
