<main>
    <div class="banner">
        <picture>
            <source media="(max-width: 567px)" srcset="../image/banner-mobile.jpg">
            <img src="../image/banner.jpg" alt="">
        </picture>
    </div>
    <div class="container">
        <div class="cartegory-slide-show-home">
            <div class="owl-carousel">
                <div class="category-item">
                    <a href="">
                        <img src="../image/cate_1.jpg" alt="">
                        <h3>Trứng và bơ</h3>
                    </a>
                </div>
                <div class="category-item">
                    <a href="">
                        <img src="../image/cate_2.jpg" alt="">
                        <h3>Thực phẩm khô</h3>
                    </a>
                </div>
                <div class="category-item">
                    <a href="">
                        <img src="../image/cate_3.jpg" alt="">
                        <h3>Thịt tươi sống</h3>
                    </a>
                </div>
                <div class="category-item">
                    <a href="">
                        <img src="../image/cate_4.jpg" alt="">
                        <h3>Trái cây</h3>
                    </a>
                </div>
                <div class="category-item">
                    <a href="">
                        <img src="../image/cate_5.jpg" alt="">
                        <h3>Rau củ quả</h3>
                    </a>
                </div>
                <div class="category-item">
                    <a href="">
                        <img src="../image/cate_6.jpg" alt="">
                        <h3>Nước ép</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-product-hot">
            <div class="title-product-hot">
                <img src="../image/hostsale.gif" alt="">
                <h1>Ưu đãi trong tuần</h1>
            </div>
            <div class="silde-product">
                <div class="owl-carousel">
                    <div class="product-item" style="border: none">
                        <div class="product-image">
                            <a href="">
                                <img src="../image/sp22.jpg" alt="Ổi lê ruột đỏ">
                            </a>
                            <div class="icon-on-image-product">
                                <i class="ti-heart" title="Thêm vào yêu thích"></i>
                                <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                            </div>
                        </div>
                        <div class="product-information">
                            <a href="">
                                <p>Ổi lê ruột đỏ</p>
                                <div class="box-price">
                                    <span class="price-primary">20.000đ</span>
                                    <span class="price-sub">50.000đ</span>
                                </div>
                            </a>
                        </div>
                        <span class="product-sale">- 60%</span>
                    </div>
                    {{!-- end product item --}}
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img src="../image/sp2.jpg" alt="Đào đỏ mỹ">
                            </a>
                            <div class="icon-on-image-product">
                                <i class="ti-heart" title="Thêm vào yêu thích"></i>
                                <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                            </div>
                        </div>
                        <div class="product-information">
                            <a href="">
                                <p>Đào đỏ mỹ</p>
                                <div class="box-price">
                                    <span class="price-primary">40.000đ</span>
                                    <span class="price-sub">60.000đ</span>
                                </div>
                            </a>
                        </div>
                        <span class="product-sale">- 60%</span>
                    </div>
                    {{!-- end product item --}}
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img src="../image/sp3.jpg" alt="Dâu tây">
                            </a>
                            <div class="icon-on-image-product">
                                <i class="ti-heart" title="Thêm vào yêu thích"></i>
                                <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                            </div>
                        </div>
                        <div class="product-information">
                            <a href="">
                                <p>Dâu tây</p>
                                <div class="box-price">
                                    <span class="price-primary">138.000đ</span>
                                    <span class="price-sub">238.000đ</span>
                                </div>
                            </a>
                        </div>
                        <span class="product-sale">- 42%</span>
                    </div>
                    {{!-- end product item --}}
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img src="../image/sp6.jpg" alt="Chanh tươi vỏ xanh">
                            </a>
                            <div class="icon-on-image-product">
                                <i class="ti-heart" title="Thêm vào yêu thích"></i>
                                <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                            </div>
                        </div>
                        <div class="product-information">
                            <a href="">
                                <p>Chanh tươi vỏ xanh</p>
                                <div class="box-price">
                                    <span class="price-primary">30.000đ</span>
                                    <span class="price-sub">38.000đ</span>
                                </div>
                            </a>
                        </div>
                        <span class="product-sale">- 60%</span>
                    </div>
                    {{!-- end product item --}}
                    <div class="product-item">
                        <div class="product-image">
                            <a href="">
                                <img src="../image/sp5.jpg" alt="Trái cam mật">
                            </a>
                            <div class="icon-on-image-product">
                                <i class="ti-heart" title="Thêm vào yêu thích"></i>
                                <a href="" class="link-cart-full"><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                            </div>
                        </div>
                        <div class="product-information">
                            <a href="">
                                <p>Trái cam mật</p>
                                <div class="box-price">
                                    <span class="price-primary">138.000đ</span>
                                    <span class="price-sub">128.000đ</span>
                                </div>
                            </a>
                        </div>
                        <span class="product-sale">- 50%</span>
                    </div>
                    {{!-- end product item --}}
                    
                </div>
            </div>
            {{!--  end silde-product --}}
        </div>
        {{!-- end box-product-hot --}}
    </div>
    <div class="container mt-4">
        <div class="box-banner-sub">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-sub">
                        <a href=""><img src="../image/banner_1.jpg" alt="Giá Sale"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-sub">
                        <a href=""><img src="../image/banner_2.jpg" alt="Giá Sale"></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>