<main>
    <div class="banner">
        <picture>
            <source media="(max-width: 567px)" srcset="../image/banner-mobile.jpg">
            <img src="../image/banner.jpg" alt="">
        </picture>
    </div>
</main>