<main class="search-page">
     <div class="box-title-admin">
        <h1>Kết quả tìm kiếm</h1>
        <div class="path">
            <a href="/">Trang chủ</a>
            /
            <span>Tìm kiếm</span>
        </div>
    </div>
    <div class="container mt-4">
        <p class="result-search">Tìm thấy <b>8</b> kết quả với từ khóa "<b>thịt</b>": </p>
    </div>
    <div class="container mt-4">
        <div class="row product-show-main">
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12" style="border: none">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp7.jpg" alt="Hành tây">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Hành tây</p>
                        <div class="box-price">
                            <span class="price-primary">18.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 60%</span>
            </div>
            {{!-- end product item --}}
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp20.jpg" alt="Cà chua">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Cà chua</p>
                        <div class="box-price">
                            <span class="price-primary">15.000đ</span>
                            <span class="price-sub">20.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 60%</span>
            </div>
            {{!-- end product item --}}
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp19.jpg" alt="Ớt chuông vàng">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Ớt chuông vàng</p>
                        <div class="box-price">
                            <span class="price-primary">13.000đ</span>
                            <span class="price-sub">17.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 42%</span>
            </div>
            {{!-- end product item --}}
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp17-2.jpg" alt="Ớt chuông xanh">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href=""><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Ớt chuông xanh</p>
                        <div class="box-price">
                            <span class="price-primary">12.000đ</span>
                            <span class="price-sub">15.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 60%</span>
            </div>
            {{!-- end product item --}}
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp5.jpg" alt="Trái cam mật">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href="" class="link-cart-full"><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Trái cam mật</p>
                        <div class="box-price">
                            <span class="price-primary">138.000đ</span>
                            <span class="price-sub">128.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 50%</span>
            </div>
            {{!-- end product item --}}
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp5.jpg" alt="Trái cam mật">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href="" class="link-cart-full"><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Trái cam mật</p>
                        <div class="box-price">
                            <span class="price-primary">138.000đ</span>
                            <span class="price-sub">128.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 50%</span>
            </div>
            {{!-- end product item --}}
            <div class="product-item col-lg-3 col-md-4 col-sm-6 col-sx-12">
                <div class="product-image">
                    <a href="">
                        <img src="../image/sp5.jpg" alt="Trái cam mật">
                    </a>
                    <div class="icon-on-image-product">
                        <i class="ti-heart" title="Thêm vào yêu thích"></i>
                        <a href="" class="link-cart-full"><i class="ti-shopping-cart-full" title="Thêm vào giỏ hàng"></i></a>
                    </div>
                </div>
                <div class="product-information">
                    <a href="">
                        <p>Trái cam mật</p>
                        <div class="box-price">
                            <span class="price-primary">138.000đ</span>
                            <span class="price-sub">128.000đ</span>
                        </div>
                    </a>
                </div>
                <span class="product-sale">- 50%</span>
            </div>
            {{!-- end product item --}}
        </div>
    </div>
</main>