<footer class="mt-5">
    <div class="box-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12 mailchimp-footer">
                    <h3>ĐĂNG KÝ NHẬN THÔNG TIN</h3>
                    <p>Đăng ký nhận bản tin để nhận ưu đãi đặc biệt về sản phẩm ND Fresh</p>
                    <div class="sent-mail">
                        <form action="">
                            <input type="text" placeholder="Nhập email của bạn">
                            <button>Đăng ký</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 about-footer">
                    <div class="logo-footer">
                        <img src="../image/logo.png" alt="">
                    </div>
                    <p>Website thương mại điện tử ND Fresh do ND Group là đơn vị chủ quản, 
                        chịu trách nhiệm và thực hiện các giao dịch liên quan mua sắm sản phẩm hàng hoá tiêu dùng thiết yếu.</p>
                    <img class="decor-oranger"src="../image/img-orange.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-20 contact-footer">
                    <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                    <p><b>Địa chỉ:</b> 266 Đội Cấn, Ba Đình, Hà Nội</p>
                    <p><b>Điện thoại: </b> 19006750</p>
                    <p><b>Email:</b> support@sapo.vn</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>@ Bản quyền thuộc về ND Fresh | Cung cấp bởi Sapo</p>
            <div class="socialNetwork">
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-twitter-alt"></i></a>
                <a href=""><i class="ti-linkedin"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>